.data-table {
  margin: 35px 0px 0px 0px;
  float: right;
  width: 85%;
  padding: 10px;
}
.students {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.action-buttons {
  margin: 50px 100px 0px 0px;
  float: right;
}

.students td,
.students th {
  border: 1px solid #ddd;
  padding: 6px;
  padding-left: 10px;
  font-size: 14px;
}
.students td {
  width: 15px;
}
.students Badge{
  
}
.issued-book {
  color: red;
}
.return-book {
  color: green;
}
.students input {
  width: 30px;
  transform: scale(1.1);
  cursor: pointer;
}
.students tr:nth-child(even) {
  background-color: #f2f2f2;
}

.students tr:hover {
  background-color: #ddd;
}

.students th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #9900ff;
  color: white;
  font-weight: 300;
  font-size: 15px;
}
